body,html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding:0;
  
}
header{
  background-color:black;
  padding:15px 20px;
  color:pink;
  display:flex;
  justify-content: space-between;
  align-items: center;
  top:0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}
nav a{
  font-size: 20px;
  margin:0px 20px;
  text-decoration: none;
  color:darkseagreen;
}
#user-display{
  position: absolute;
  right: 20px;
  top: 20px;
}
.content {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 50px;
  background: linear-gradient(to right, lightblue, #e52e71);
  color: rgb(221, 167, 167);
}

.btn {
  display: inline-block;
  margin-top: 30px;
  background-color: rgb(244, 232, 232);
  color: #e52e71;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.highlights {

  background: #e52e71 ;
  padding: 30px;
  margin: 60px auto;
  width: 80%;
  text-align: center;
  border-radius: 12px;
}

.highlights h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.highlights ul {
  list-style: none;
}

.highlights ul li {
  font-size: 18px;
  padding: 8px 0;
}
footer{
  
  background-color: black;
  color:rgb(246, 191, 191);
  text-align: center;
  padding:10px;
  position:fixed;
  width:100%;
  bottom:0;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 120px;
  gap:20px;
  ;
}
.product {
  background-color:cornflowerblue;
  border-radius: 10px;
  padding: 25px;
  width: 200px;
  height:350px;
  text-align: center;
}
.product img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
 button {
  background-color:#e52e71;
  border: none;
  color: rgb(165, 222, 182);
  padding: 10px;
  border-radius: 5px;
   margin-top: 10px;
   border-radius: 5px;
  cursor: pointer;
 
}
